/JobApp/Apply MJD.xcodeproj/project.xcworkspace/xcuserdata/rezashirazian.xcuserdatad/UserInterfaceState.xcuserstate

/JobApp/.DS_Store
/JobApp/Apply MJD.xcodeproj/xcuserdata/rezashirazian.xcuserdatad/xcdebugger
/JobApp/Apply MJD.xcodeproj/project.xcworkspace/xcuserdata/rezashirazian.xcuserdatad
